* {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#header {
  height: 8vh;
  color: #f79853;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
#header h1 {
  text-shadow: 1px 1px rgba(19, 86, 119, 0.5);
  font-family: Open Sans, "HelveticaNeue", "Helvetica Neue", sans-serif;
}

#search-form {
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #135677;
}
#search-form h1 {
  text-align: center;
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-size: 1.7rem;
}
#search-form p {
  font-size: 0.8rem;
  margin-bottom: 1vh;
  text-align: center;
  width: 90%;
  margin: auto;
}
#search-form form {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
#search-form form #inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60%;
  margin: 0 auto;
}
#search-form form #inputs .label {
  font-size: 1.2rem;
  margin-bottom: 0.5vh;
}
#search-form form #inputs input {
  height: 1.2rem;
  font-size: 1rem;
  width: 4vw;
  text-align: center;
  color: #888;
  border-radius: 4px;
}
#search-form form #reset, #search-form form #search {
  border: 1px solid #135677;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #135677;
  margin: 1vh 0.3vw;
  cursor: pointer;
  transition: background 500ms ease;
  box-shadow: 1px 2px 4px black;
}
#search-form form #search {
  background: #135677;
  color: white;
  box-shadow: 1px 3px 4px black;
}
#search-form form #search:hover {
  background: rgba(19, 86, 119, 0.8);
}
#search-form form #reset:hover {
  background: #135677;
  color: white;
}

#all-food {
  margin-top: 1vh;
}
#all-food h2 {
  text-align: center;
  color: #f79853;
}
#all-food .food {
  border-bottom: 1px solid darkgrey;
  height: 15vh;
  display: flex;
  align-items: center;
}
#all-food .food * {
  list-style: none;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
#all-food .food .name {
  font-size: 1rem;
  color: #f79853;
  text-align: left;
  margin-left: 2vw;
  width: 45%;
}
#all-food .food .nutrients {
  display: flex;
  justify-content: space-around;
  color: darkgrey;
  margin-left: 2vw;
}
#all-food .food .nutrients .selected {
  color: #135677;
}

footer {
  border: 1px solid black;
  background: #888;
  width: 100%;
  height: 2vh;
  position: inherit;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 600px) {
  #header {
    height: 10vh;
  }
  #header h1 {
    font-size: 4rem;
  }

  #search-form {
    height: 28vh;
  }
  #search-form h1 {
    font-size: 2.2rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  #search-form p {
    font-size: 1.1rem;
  }
  #search-form form {
    width: 65vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #search-form form #inputs {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    width: 50vw;
    justify-content: space-around;
  }
  #search-form form #inputs input {
    width: 4vw;
    height: 2.5vh;
    font-size: 1.2rem;
  }
  #search-form form #inputs .label {
    font-size: 1.4rem;
  }
  #search-form form .btns {
    margin: 0 auto;
    width: 50vw;
    display: flex;
    justify-content: center;
  }
  #search-form form .btns #search, #search-form form .btns #reset {
    text-align: center;
    font-size: 1.2rem;
  }
  #search-form form .btns #search {
    width: 10vw;
  }

  #all-food h2 {
    margin: 2vh auto;
    font-size: 2rem;
  }
  #all-food .food {
    height: 12vh;
  }
  #all-food .food .name {
    font-size: 1.4rem;
    width: 120vw;
    margin-left: 1vw;
  }
  #all-food .food .nutrients {
    font-size: 1.2rem;
    width: 100%;
    justify-content: space-around;
    margin-right: 1vw;
  }
  #all-food .food .nutrients * {
    width: 5vw;
    flex-wrap: wrap;
  }

  footer {
    bottom: 0;
  }
}
@media (min-width: 1000px) {
  #search-form p {
    font-size: 1.5rem;
  }
  #search-form form #inputs {
    width: 50vw;
    justify-content: space-around;
  }
  #search-form form .btns #search {
    width: 12vw;
  }
  #search-form form .btns #reset {
    width: 8vw;
  }

  #all-food h2 {
    margin: 2vh auto;
    font-size: 2rem;
  }
  #all-food .food {
    height: 12vh;
  }
  #all-food .food .name {
    font-size: 1.6rem;
    width: 120vw;
    margin-left: 1vw;
  }
  #all-food .food .nutrients {
    font-size: 1.3rem;
    width: 100%;
    justify-content: space-around;
    margin-right: 1vw;
  }
  #all-food .food .nutrients * {
    width: 10vw;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

/*# sourceMappingURL=index.css.map */
